# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Images
images/cfb logos/
!images/oregon.jpg
!images/michigan.jpg
!images/ohio_state.jpg
!images/nebraska.jpg
!images/favicon.ico

# Favicon
!favicon.ico 